@tailwind base;
@tailwind components;
@tailwind utilities;
/*this is for ul tag*/
.logo{
    float: left;
}
.navitem{
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: space-evenly;
}


